body {
    background-color: #F0DB7F;
    color: #755D22;
    font-family: "Noto Sans", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Roboto Slab", serif;
}

h1 {
    font-size: 45px;
}

h2 {
    font-size: 40px;
}

header {
    text-align: center;
}

#hero, footer {
    background-color: #D0CAEB;
    color: #1C4D76;
    text-align: center;
    padding: 15px;
    
}

#hero img {
    width: 350px;
}

#hobbies ul li {
    list-style-type: circle;
    background-color: #A4D2EB;
    color: #1C4D76;
    border-width: 15px;
    padding: 20px;
    width: 500px;
}