body {
    background-color: #F0DB7F;
    color: #755D22;
    font-family: "Noto Sans", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Roboto Slab", serif;
}

h1 {
    font-size: 45px;
}

h2 {
    font-size: 40px;
    margin: 1rem;
}

header {
    text-align: center;
}

#hero, footer {
    background-color: #D0CAEB;
    color: #1C4D76;
    text-align: center;
    padding: 15px;
    
}

/* Hero section */

#hero img {
    width: 350px;
}

/* Hobbies */

section#hobbies {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#hobbies ul{
    border: 2px solid #1C4D76;
    max-width: 100%;
    width: 540px;
}

#hobbies ul li {
    list-style-type: circle;
    background-color: #A4D2EB;
    color: #1C4D76;
    padding: 20px;
    max-width: 100%
}

/* Photo Gallery */ 

#gallery {
    border: 3.5px solid #755D22;
}

#gallery img {
    max-width: 100%;
}

#gallery figure {
    text-align: center;
}

#gallery hr {
    border-top: 2px dashed;
}

/* Literature */

#lit {
    padding: 2rem;
    border: 3rem solid #755D22;
    border-style: ridge;
    max-width: 60rem;
    margin: 2rem;
    align-items: center;
}

#lit h2 {
    font-size: 45px;
}

#lit div {
    max-width: 100%;
    columns: 40rem;
}

/* Video */

#video {
    max-width: 1auto;
    border: 3.5px solid #755D22;
    text-align: center;
}

#video iframe {
    max-width: 90%;
}

/* tablet size */
@media screen and (min-width: 60em) {
    figure {
        display:grid;
        grid-template-columns: 2fr 1fr;
    }

    figcaption {
        display:flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        margin-left: 1rem;

    }

}

/* Large screen size*/

@media screen and (min-width: 100em) {
    #gallery {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    hr {
        display: none;
    }

    #gallery h2 {
        grid-column: 1/-1;
    }

    figure {
        display: block;
    }
}

/* Contact Form */
#formElements {
    display: grid;
}