body {
    background-color: #F0DB7F;
    color: #755D22;
    font-family: "Noto Sans", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Roboto Slab", serif;
}

h1 {
    font-size: 45px;
}

h2 {
    font-size: 40px;
    margin: 1rem;
}

header {
    text-align: center;
}

#hero {
    background-color: #D0CAEB;
    color: #1C4D76;
    text-align: center;
    padding: 15px;
    border: 1.5rem solid #D0CAEB;
    border-style: ridge;
}

footer {
    background-color:#FFFDD0;
    color: #1C4D76;
    text-align: center;
    padding: 15px;
}

/* Hero section */

#hero img {
    width: 400px;
    max-width: 80%;
    border-radius: 20%;
    border: thick double aliceblue;
}

/* Hobbies */

#hobbies {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#hobbies ul{
    border: 3px solid #1C4D76;
    background-color: #A4D2EB;
    font-size: 15px;
    max-width: 90%;
    width: 540px;
    margin: 1.5em;
}

#hobbies ul li {
    list-style-type:circle;
    color: #1C4D76;
    padding: 20px;
    max-width: 90%;
}

#hobbies ol {
    font-size: 25.5px;
    text-decoration: underline;
    max-width: 90%;
}


/* Photo Gallery */ 

#gallery {
    margin: 2rem;
    padding: 2rem;
    border: 3.5px solid #755D22;
}

#gallery img {
    max-width: 100%;
    border: 10px solid #D0CAEB;
    border-style: inset;
}

#gallery figure {
    text-align: center;
}

#gallery hr {
    border-top: 2px dashed;
}

/* Literature */

#lit {
    border: 3rem ridge #755D22;
    max-width: 100%;
    padding: 2rem;
}


#lit h2 {
    font-size: 45px;
    text-align: center;
    border:#755D22 3px;
    border-style: dotted;
    background-color: #FFFDD0;
}

#lit img {
    max-width: 100%;
}

/* Video */

#video {
    padding: 2rem;
    margin: 2rem;
    max-width: 80%;
    border: 3.5px solid #755D22;
    text-align: center;
}

#video iframe {
    width: 90rem;
    height: 50rem;
    max-width: 80%;
    align-items: center;
}

/* tablet size */
@media screen and (min-width: 60em) {
    figure {
        display:grid;
        grid-template-columns: 2fr 1fr;
    }

    figcaption {
        display:flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        margin-left: 1rem;

    }

}

/* Large screen size*/

@media screen and (min-width: 100em) {
    #gallery {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    hr {
        display: none;
    }

    #gallery h2 {
        grid-column: 1/-1;
    }

    figure {
        display: block;
    }
}

/* Contact Form */
#formElements {
    display: grid;
    row-gap: 1em;
}

#contact {
    padding: 1rem;
    max-width: 100%;
    margin: .5rem auto;
}

fieldset {
    border: 4px #1C4D76;
    border-style: dotted;
    margin-top: 1em;
    margin-bottom: 1em;
    background-color: #D0CAEB;
}

legend {
    background-color: #A4D2EB;
    padding: 1em;
}

#contact input, #contact textarea, #contact select, #contact button {
    padding: 1em;
    font-size: 1rem;
}

#contact ul {
    list-style: none;
    padding: 0px;
}

#contact li {
    margin: 1rem;
}

#contact button {
    background-color: #A4D2EB;
    color: #1C4D76;
    border: solid .5px #1C4D76;
    max-width: 400px;
    width: 50%;
    justify-self: center;
}
